In [1]:
import boto3
import awswrangler as wr
from credentials import *

### Read Data

In [2]:
# Create a session using boto3
session = boto3.Session(
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
    region_name=aws_region_name
)

In [3]:
wr.s3.list_objects('s3://workbench-workshop/',boto3_session=session)

['s3://workbench-workshop/data/LendingClubLoanData.csv',
 's3://workbench-workshop/data/LendingClubLoanData.parquet',
 's3://workbench-workshop/test_python/LendingClubLoanData.parquet',
 's3://workbench-workshop/test_sas/test.parquet']

In [4]:
# Read Data
df_data = wr.s3.read_csv("s3://workbench-workshop/data/LendingClubLoanData.csv", boto3_session=session)
df_data.head()

,CreditPolicy,Purpose,InterestRate,Installment,LogAnnualInc,DebtIncRatio,FICOScore,CreditLineAge,RevBalance,RevUtilization,Inquiries6Mnths,Delinquencies2Yrs,PublicRecord,Default,Age,Race,Gender
0,1,debt_consolidation,0.1183,298.21,10.858999,20.49,712,4619.958333,23750,47.7,1,0,0,0,23,White,Female
1,1,educational,0.1148,461.56,11.599103,21.29,727,5250.000000,15812,50.0,1,0,0,1,63,Hispanic,Male
2,1,credit_card,0.1322,202.81,10.991426,14.47,682,4289.958333,6891,59.8,0,0,0,0,8,Hispanic,Male
3,1,home_improvement,0.1357,339.69,11.711776,8.38,682,5160.000000,865,72.1,3,0,0,0,37,Black,Male
4,1,all_other,0.1531,174.08,10.768401,3.79,672,3030.000000,2029,20.3,3,0,0,1,82,White,Female

### Save it to AWS

In [5]:
df_data = df_data.sample(frac=1).head(50).reset_index(drop=True)

In [6]:
wr.s3.to_parquet(df_data, "s3://workbench-workshop/test_python/LendingClubLoanData.parquet", boto3_session=session)

{'paths': ['s3://workbench-workshop/test_python/LendingClubLoanData.parquet'],
 'partitions_values': {}}